@import "variables";
@import "bootstrap/scss/bootstrap-flex";
@import "font-awesome/scss/font-awesome";
@import "bootstrap/scss/mixins";

.sk-three-bounce {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 80px;

  &.white {
    .sk-child {
      background-color: white;
    }
  }

  .sk-child {
    width: 20px;
    height: 20px;
    background-color: #333;
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-three-bounce 1.4s ease-in-out 0s infinite both;
    animation: sk-three-bounce 1.4s ease-in-out 0s infinite both;

    &.sk-bounce1 {
      -webkit-animation-delay: -0.32s;
      animation-delay: -0.32s;
    }

    &.sk-bounce2 {
      -webkit-animation-delay: -0.16s;
      animation-delay: -0.16s;
    }
  }
}

@-webkit-keyframes sk-three-bounce {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0); }
  40% {
    -webkit-transform: scale(1);
            transform: scale(1); } }

@keyframes sk-three-bounce {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0); }
  40% {
    -webkit-transform: scale(1);
            transform: scale(1); } }

// ===

button {
  outline: none !important;
}

#application {
  display: flex;
  width:  100vw;
  height: 100vh;

  .chat-application {

    min-width: 100%;
    min-height: 100%;

    .log-in-screen {
      display: flex;
      justify-content: center;
      align-items: center;
      min-width: 100%;
      min-height: 100%;
      background: $gray-lightest;

      .log-in-form-container {
        padding: 20px;
        background: white;
        border: 1px $gray-light solid;
        border-radius: $border-radius;
        box-shadow: 0 0 5px rgba($gray-dark, 0.3);

        .btn {
          i {
            float: left;
          }
        }
      }
    }

    .chat-screen {
      @extend .container-fluid;

      height: 100%;
      display: flex;
      flex-direction: column;

      .user-avatar {
        background-color: white;
      }

      .row {
        display: flex;
        flex-grow: 1;

        @include media-breakpoint-down(md) {
          flex-direction: column;
        }

        .sidebar {
          @extend .col-lg-3;

          @include media-breakpoint-up(lg) {
            max-width: 300px;
          }

          display: flex;
          flex-direction: column;
          background-color: $brand-primary;
          color: white;
          padding: 0;
          z-index: 102;
          //border-right: 1px solid $gray-dark;
          //box-shadow: 0 0 5px $gray-dark;

          .current-user {
            display: flex;
            margin: 10px;
            height: 50px;

            & > .avatar {
              z-index: 100;
              flex-shrink: 1;
            }

            & > .welcome-text {
              display: flex;
              margin-left: 15px;
              flex-grow: 1;

              h4 {
                align-self: center;
                margin-bottom: 0;
              }
            }
          }

          .channels {
            flex-grow: 1;
            list-style: none;
            padding-left: 0;

            .channel {
              display: flex;
              padding: 10px 10px 10px 20px;
              border-top: 1px solid darken($brand-primary, 10);
              cursor: pointer;
              font-weight: bold;

              &:last-of-type {
                border-bottom: 1px solid darken($brand-primary, 10);
              }

              &.new {
                padding: 0;
                height: 45px;

                .name {
                  form {
                    height: 100%;

                    .dropdown {
                      height: 100%;

                      .dropdown-menu {
                        min-width: 100%;
                      }
                    }

                    .input-group {
                      height: 100%;

                      input {
                        padding: 10px 10px 10px 20px;
                        font-weight: initial;
                        border: 0;
                        border-radius: 0;
                      }

                      .btn {
                        border: 0;
                        height: 100%;
                      }
                    }
                  }
                }

                &:hover {
                  background: initial;
                }
              }

              .name {
                flex-grow: 1;
              }

              &:hover {
                background: darken($brand-primary, 10);
              }

              &.active {
                background-color: white;
                color: $gray-dark;
              }
            }
          }

          .log-out {
            .btn {
              border-radius: 0;

              i {
                float: left;
              }
            }
          }
        }

        .chat-area {
          @extend .col-lg-9;

          @include media-breakpoint-up(lg) {
            max-width: none;
            flex-grow: 1;
          }

          display: flex;
          flex-direction: column;
          flex-grow: 1;
          z-index: 101;

          .channel-view {
            @extend .row;

            flex-direction: column;

            .channel-header {
              display: flex;
              padding: 10px 15px;
              border-bottom: 1px solid rgba($gray-dark, 0.25);
              box-shadow: 0 0 5px rgba($gray-dark, 0.3);
              z-index: 100;

              .channel-name {
                flex-grow: 1;

                h2 {
                  margin-bottom: 0;

                  &:before {
                    content: "#";
                    color: $gray-light;
                    padding-right: 5px;
                  }
                }
              }

              .channel-options {

              }
            }

            .channel-messages {
              //@extend .row;
              display: flex;
              flex-direction: column;
              justify-content: flex-end;
              flex-grow: 1;
              padding: 15px 15px 0;
              overflow-y: scroll;

              .message {
                display: flex;

                .avatar {
                  flex-grow: 0;
                  flex-shrink: 0;
                  margin-right: 10px;
                }

                .body {
                  display: flex;
                  flex-grow: 1;
                  flex-direction: column;

                  .message-details {
                    display: flex;
                    
                    .user-login {
                      font-weight: bold;
                      margin-right: 5px;
                    }
                    .sent-at {
                      font-style: italic;
                    }
                  }

                  .content {
                    p {
                      margin-bottom: 0.35rem;
                    }

                    & > p:last-of-type {
                      margin-bottom: 0 !important;
                    }

                    blockquote {
                      @extend .blockquote;

                      &> p:last-of-type {
                        margin-bottom: 0 !important;
                      }
                    }

                    pre {
                      background-color: #f7f7f9;
                      border-radius: 0.25rem;
                      padding: 10px;

                      code {
                        color: $code-color;
                      }
                    }
                  }
                }
              }
            }

            .new-message-input {
              //@extend .row;

              flex-grow: 0;
              padding: 15px;

              button {
                height: 100%;
              }
            }

            &.no-channel-selected {
              background: $gray-lightest;
              justify-content: center;
              align-items: center;

              .message {
                padding: 20px;
                background: white;
                border: 1px $gray-light solid;
                border-radius: $border-radius;
                box-shadow: 0 0 5px rgba($gray-dark, 0.3);
              }
            }
          }
        }
      }
    }
  }
}